.neonTextWhite {
  color: #fff;
  text-shadow: 0 0 7px #EFEFEF
	0 0 10px #C2C2C2,
	0 0 21px #A0A0A0 ,
	0 0 42px #848484,
  0 0 82px #6A6A6A,
	0 0 92px #6A6A6A,
	0 0 102px #6A6A6A,
	0 0 151px #6A6A6A;
}
.neonTextDark {
  color: #000;
  text-shadow: 0 0 7px #E8E8E8,
	0 0 10px #6A6A6A,
	0 0 21px #848484 ,
	0 0 42px #A0A0A0,
  0 0 82px #C2C2C2,
	0 0 92px #C2C2C2,
	0 0 102px #C2C2C2,
	0 0 151px #C2C2C2;
}

